<div class="chat-container">
  <div class="user-selection">
    <app-user-list (userSelected)="selectUser($event)"></app-user-list>
  </div>
  <div class="messages-container">
    <div *ngFor="let message of receivedMessages" class="message">
      <span class="sender">{{ message.userId }}:</span>
      <span class="text">{{ message.message }}</span>
    </div>
  </div>
  <div class="input-container">
    <input type="text" placeholder="Type your message..." [(ngModel)]="newMessage">
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
