.chat-container {
  max-width: 600px;
  margin: auto;
  border-radius: 5px;
}

.user-selection {
  margin-bottom: 20px;
}

.user-item {
  margin-bottom: 10px;
}

.messages-container {
  height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.private-chat {
  margin-top: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.float-right {
  clear: both;
  text-align: right;
}

.float-left {
  clear: both;
  text-align: left;
}

.btn-danger {
  margin-top: 10px;
}
