/* Global Styles */

html, body {
  height: 100%;
  margin: 0;
}

  body:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Change this to your primary color */
    opacity: 0.7;
    z-index: 1;
  }

.video.bg-video, .bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/* Masthead Styles */

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .masthead:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add semi-transparent background */
    z-index: -1;
  }

.masthead-content {
  max-width: 40rem;
  padding: 5rem;
  text-align: center;
}

  .masthead-content h1 {
    font-size: 2.5rem;
  }

  .masthead-content p {
    font-size: 1.2rem;
  }

    .masthead-content p strong {
      font-weight: 700;
    }

.input-group-newsletter input {
  height: auto;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
}

.input-group-newsletter button {
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: calc(1rem + 2px);
}

@media (min-width: 992px) {
  .masthead {
    width: 75vw;
  }

    .masthead:before {
      transform: skewX(-9deg);
    }

  .masthead-content {
    padding-left: 2rem;
    padding-right: 9rem;
  }

    .masthead-content h1 {
      font-size: 3.5rem;
    }

    .masthead-content p {
      font-size: 1.3rem;
    }
}

@media (min-width: 1200px) {
  .masthead {
    width: 65vw;
  }
}

/* Social Icons Styles */

.social-icons {
  position: absolute;
  top: 50%;
  right: 2.5rem;
  transform: translateY(-50%);
  z-index: 2;
}

  .social-icons .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust transparency as needed */
    color: #fff;
  }

/* Footer Styles */

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Buttons Container Styles */

.buttons-container {
  display: flex;
}

.register-button,
.login-button {
  background-color: #007bff; /* Change this to your desired button color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px;
  margin-left: 10px; /* Add some space between buttons */
  text-decoration: none; /* Remove default underline */
}

  .register-button:hover,
  .login-button:hover {
    background-color: #0056b3; /* Change this to your desired hover color */
  }
