<div class="chat-container">
  <div class="messages-container">
    <h2>Messages</h2>
    <div *ngFor="let message of messages" class="message" [ngClass]="{ 'message-right': message.userId === id, 'message-left': message.userId !== id }">
      <span *ngIf="message.messageContent == undefined" class="sender" >You :</span>
      <span *ngIf="message.messageContent != undefined" class="sender" >{{ message.senderId }} :</span>
      <span *ngIf="message.messageContent != undefined" class="text" >{{ message.messageContent }}</span>
      <span *ngIf="message.messageContent == undefined" class="text" >{{ message.senderId }}</span>
    </div>
  </div>

  <div class="input-container">
    <input type="text" class="input-field" placeholder="Type your message..." [(ngModel)]="newMessage">
    <button class="send-button" (click)="sendMessage()">Send</button>
  </div>
</div>
