<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Target</th>
      <th>Target Reached</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let challenge of challenges">
      <td>{{ challenge.id }}</td>
      <td>{{ challenge.challengeName }}</td>
      <td>{{ challenge.challengeDescription }}</td>
      <td>{{ challenge.challengeType }}</td>
      <td>{{ challenge.target }}</td>
      <td>{{ challenge.targetReached }}</td>
      <td>{{ challenge.startDate }}</td>
      <td>{{ challenge.endDate }}</td>
      <td>
        <button (click)="updateChallenge(challenge)" class="btn btn-primary">Update</button>
        <button (click)="deleteChallenge(challenge.id)" class="btn btn-danger">Delete</button>
        <button *ngIf="!challenge.userInChallenge" (click)="joinChallenge(challenge.id)" class="btn btn-success">Join</button>
        <button *ngIf="challenge.userInChallenge" (click)="leaveChallenge(challenge.id)" class="btn btn-warning">Leave</button>
      </td>
    </tr>
  </tbody>
</table>
<button (click)="createChallenge()" class="btn btn-primary">Create New Challenge</button>
