<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<body>
  <div class="container">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Goal Type</th>
          <th scope="col">Goal Value</th>
          <th scope="col">Date</th>
          <th scope="col">User Id</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let goal of goals">
          <td>{{goal.id}}</td>
          <td>{{goal.goalType}}</td>
          <td>{{goal.goalValue}}</td>
          <td>{{goal.date | date}}</td>
          <td>{{goal.userId}}</td>
          <td>
            <button class="btn btn-success" (click)="updateGoal(goal)">Edit</button>
            <button class="btn btn-danger" (click)="deleteGoal(goal.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Bootstrap JS and dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
