<!-- activity-create.component.html -->
<h2>Create New Activity</h2>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form (submit)="createActivity()">
        <div>
          <label for="activityType">Activity Type:</label>
          <select id="activityType" name="activityType" [(ngModel)]="activity.activityType" required>
            <option *ngFor="let type of activityTypes" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div *ngIf="getActivityTypeRequirement(activity.activityType)?.requiresDistance">
          <label for="distance">Distance:</label>
          <input *ngIf="getActivityTypeRequirement(activity.activityType)?.requiresDistance" type="number" id="distance" name="distance" [(ngModel)]="activity.distance" required>
        </div>
        <div>
          <label for="duration">Duration:</label>
          <input type="number" id="duration" name="duration" [(ngModel)]="activity.duration" required>
        </div>
        <div>
          <label for="date">Date:</label>
          <input type="date" id="date" name="date" [(ngModel)]="activity.date" required>
        </div>
        <div>
          <label for="pace">Pace:</label>
          <select id="pace" name="pace" [(ngModel)]="activity.pace">
            <option *ngFor="let pace of paces" [value]="pace.factor">{{ pace.label }}</option>
          </select>
        </div>
        <button type="submit">Create</button>
      </form>
      </div>
    </div>
  </div>
