
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        
          <form (ngSubmit)="addGoal()">
            <div class="form-group">
              <label for="goalType">Goal Type</label>
              <select class="form-control" id="goalType" [(ngModel)]="goal.goalType" name="goalType" required>
                <option value="" disabled selected>Select Goal Type</option>
                <option value="Weight Loss">Weight Loss</option>
                <option value="Fitness">Fitness</option>
                <option value="Nutrition">Nutrition</option>
              </select>
            </div>
            <div class="form-group">
              <label for="goalValue">Goal Value</label>
              <input type="number" class="form-control" id="goalValue" [(ngModel)]="goal.goalValue" name="goalValue" required>
            </div>
            <div class="form-group">
              <label for="date">Start Date</label>
              <input type="date" class="form-control" id="date" [(ngModel)]="goal.start" name="start" required>
            </div>
            <div class="form-group">
              <label for="date">Deadline</label>
              <input type="date" class="form-control" id="date" [(ngModel)]="goal.finish" name="finish" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>
  </div>
